<%
  columns = []
  columns << { field: :route_path, label: 'Route', class: 'w-auto' } if @route.blank?

  columns += [
    { field: :occurred_at, label: 'Timestamp', class: (@route.present? ? 'w-auto' : 'w-40') },
    { field: :duration, label: 'Duration', class: 'w-24' },
    { field: :status, label: 'HTTP Status', class: 'w-20' },
    { field: :status_indicator, label: 'Status', class: 'w-16' }
  ]
%>

<table class="table mbs-4">
  <%= render "rails_pulse/components/table_head", columns: columns %>

  <tbody>
    <% @table_data.each do |route_request| %>
      <tr>
        <% if @route.blank? %>
          <td class="whitespace-nowrap"><%= link_to route_request.route.path_and_method, request_path(route_request), data: { turbo_frame: '_top' } %></td>
        <% end %>
        <td class="whitespace-nowrap"><%= link_to human_readable_occurred_at(route_request.occurred_at), request_path(route_request), data: { turbo_frame: '_top' } %></td>
        <td class="whitespace-nowrap"><%= route_request.duration.round(2) %> ms</td>
        <td class="whitespace-nowrap"><%= route_request.status %></td>
        <td class="whitespace-nowrap text-center"><%= request_status_indicator(route_request.duration) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "rails_pulse/components/table_pagination" %>
