<%= render 'rails_pulse/components/breadcrumbs' %>

<% unless turbo_frame_request? %>
  <div class="row">
    <%= render 'rails_pulse/components/metric_card', { class: "grid-item block", data: @average_response_times_metric_card } %>
    <%= render 'rails_pulse/components/metric_card', { class: "grid-item block", data: @percentile_response_times_metric_card } %>
    <%= render 'rails_pulse/components/metric_card', { class: "grid-item block", data: @request_count_totals_metric_card } %>
    <%= render 'rails_pulse/components/metric_card', { class: "grid-item block", data: @error_rate_per_route_metric_card } %>
  </div>
<% end %>

<div
  class="row"
  data-controller="rails-pulse--index"
  data-rails-pulse--index-chart-id-value="average_response_times_chart"
>
  <div class="grid-item">
    <%= render 'rails_pulse/components/panel', { title: 'Average Response Time', } do %>
      <%= search_form_for @ransack_query, url: requests_path, class: "flex items-center justify-between gap mb-4" do |form| %>
        <div class="flex items-center grow gap">
          <%= form.select :period_start_range,
            RailsPulse::RequestsController::TIME_RANGE_OPTIONS,
            { selected: @selected_time_range },
            { class: "input" }
          %>
          <%= form.select :avg_duration,
            duration_options(:request),
            { selected: @selected_response_range },
            { class: "input" }
          %>
          <%= link_to "Reset", requests_path, class: "btn btn--borderless show@md" if params.has_key?(:q) %>
          <%= form.submit "Search", class: "btn show@sm" %>
        </div>
      <% end %>

      <% if @chart_data.present? %>
        <div
          class="chart-container chart-container--slim"
          data-rails-pulse--index-target="chart"
        >
          <%= bar_chart(
            @chart_data,
            code: false,
            id: "average_response_times_chart",
            height: "100%",
            options: bar_chart_options(
              units: "ms",
              zoom: true,
              chart_start: 0,
              chart_end: @chart_data.length - 1,
              xaxis_formatter: @xaxis_formatter,
              tooltip_formatter: @tooltip_formatter,
              zoom_start: @zoom_start,
              zoom_end: @zoom_end,
              chart_data: @chart_data
            )
          ) %>
        </div>
      <% end %>

      <%= turbo_frame_tag :requests_index_table, data: { rails_pulse__index_target: "indexTable" } do %>
        <%= render 'rails_pulse/requests/table' %>
      <% end %>
    <% end %>
  </div>
</div>
