<%= render 'rails_pulse/components/breadcrumbs' %>

<div class="row">
  <div class="grid-item">
    <%= render 'rails_pulse/components/panel', title: 'Request Details' do %>
      <dl class="descriptive-list mbs-4">
        <dt>Route</dt>
        <dd><%= link_to @request.route.path_and_method, route_path(@request.route) %></dd>
        <dt>Timestamp</dt>
        <dd><%= human_readable_occurred_at(@request.occurred_at) %></dd>
        <dt>Request UUID</dt>
        <dd><code><%= @request.request_uuid %></code></dd>
        <dt>Duration</dt>
        <dd><%= @request.duration.round(2) %> ms</dd>
        <dt>Status</dt>
        <dd><%= @request.status %></dd>
        <dt>Error</dt>
        <dd><%= @request.is_error? ? 'Yes' : 'No' %></dd>
      </dl>
    <% end %>
  </div>

  <div class="grid-item">
    <%= render 'rails_pulse/components/panel', title: 'Performance Breakdown' do %>
      <% breakdown = operations_performance_breakdown(@request.operations) %>
      <dl class="descriptive-list mbs-4">
        <dt>Database</dt>
        <dd><%= breakdown[:database] %>% (<%= pluralize(@request.operations.by_type('sql').count, 'query') %>)</dd>
        <dt>View Rendering</dt>
        <dd><%= breakdown[:view] %>%</dd>
        <dt>Application Logic</dt>
        <dd><%= breakdown[:application] %>%</dd>
        <dt>Other Operations</dt>
        <dd><%= breakdown[:other] %>%</dd>
        <dt>Total Operations</dt>
        <dd><%= @request.operations.count %></dd>
        <dt>Slowest Operation</dt>
        <dd><%= @request.operations.maximum(:duration)&.round(2) %> ms</dd>
      </dl>
    <% end %>
  </div>
</div>

<%= render 'operations', operations: @request.operations %>
