<div class="row">
  <%= cached_component(component: "metric_card", id: "average_response_times", class: "grid-item block") %>
  <%= cached_component(component: "metric_card", id: "percentile_response_times", class: "grid-item block") %>
  <%= cached_component(component: "metric_card", id: "request_count_totals", class: "grid-item block") %>
  <%= cached_component(component: "metric_card", id: "error_rate_per_route", class: "grid-item block") %>
</div>

<div class="row">
  <div class="grid-item" style="height:300px">
    <%= cached_component(
      component: "panel",
      id: "dashboard_average_response_time",
      card_classes: 'b-full',
      title: 'Average Response Time',
      help_heading: 'Average Response Time',
      help_text: 'This panel measures the average server-side response time in milliseconds for all HTTP requests processed by your application. This is the time it takes from the server receiving a request until the request is returned to the client in milliseconds.',
      actions: [{ url: routes_path, icon: 'external-link', title: 'View details' }],
      refresh_action: true,
      content_partial: 'rails_pulse/dashboard/charts/bar_chart')
    %>
  </div>

  <div class="grid-item">
    <%= cached_component(
      component: "panel",
      id: "dashboard_p95_response_time",
      card_classes: 'b-full',
      title: 'Query Performance',
      help_heading: 'Query Performance',
      help_text: 'This panel measures the 95th percentile response time in milliseconds for queries in your application. This represents the query performance below which 95% of queries fall, indicating the upper-bound performance for most database operations.',
      actions: [{ url: routes_path, icon: 'external-link', title: 'View details' }],
      refresh_action: true,
      content_partial: 'rails_pulse/dashboard/charts/bar_chart')
    %>
  </div>
</div>

<div class="row">
  <div class="grid-item">
    <%= cached_component(
      component: "panel",
      id: "dashboard_fast_routes",
      title: 'Fastest Routes This Week',
      help_heading: 'Fastest Routes',
      help_text: 'This panel shows the fastest routes in your application this week compared to last week, including average response time, week-over-week change, and total request count.',
      refresh_action: true,
      content_partial: 'rails_pulse/dashboard/tables/standard_table',
      class: "table-container")
    %>
  </div>

  <div class="grid-item">
    <%= cached_component(
      component: "panel",
      id: "dashboard_slow_routes",
      title: 'Slowest Routes This Week',
      help_heading: 'Slowest Routes',
      help_text: 'This panel shows the slowest routes in your application this week compared to last week, including average response time, week-over-week change, and total request count.',
      refresh_action: true,
      content_partial: 'rails_pulse/dashboard/tables/standard_table',
      class: "table-container")
    %>
  </div>
</div>
