<div class="row">
  <%= render_metric_card_frame "average_response_times", context: "routes" %>
  <%= render_metric_card_frame "percentile_response_times", context: "routes" %>
  <%= render_metric_card_frame "request_count_totals", context: "routes" %>
  <%= render_metric_card_frame "error_rate_per_route", context: "routes" %>
</div>

<div class="row">
  <div class="grid-item">
    <%= render 'rails_pulse/components/panel', {
          title: 'Average Response Time',
          help_heading: 'Average Response Time',
          help_text: 'This panel measures the average server-side response time in milliseconds for all HTTP requests processed by your application. This is the time it takes from the server receiving a request until the request is returned to the client in milliseconds.',
          link_to: routes_path
        } do %>
      <div class="chart-container">
        <%= line_chart fake_time_series, height: "100%", options: line_chart_options(units: "ms") %>
      </div>
    <% end %>
  </div>

  <div class="grid-item">
    <%= render 'rails_pulse/components/panel', {
          title: 'Query Performance',
          help_heading: 'P95 Response Time',
          help_text: 'This panel measures the 95th percentile response time in milliseconds for HTTP requests in your application. This represents the response time below which 95% of requests fall, indicating the upper-bound performance for most users.'
        } do %>
      <div class="chart-container">
        <%= line_chart fake_time_series, height: "100%", options: line_chart_options(units: "ms") %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="grid-item">
    <%= render 'rails_pulse/components/panel', {
          title: 'Recent Fast Routes',
          help_heading: 'Slowest Routes',
          help_text: 'This panel measures performance metrics for the slowest paths in your application, including average response time in milliseconds, total request count, and number of errors. These metrics highlight specific URLs where performance or stability issues are most severe.'
        } do %>
      <table class="table mbs-4">
        <thead>
          <tr>
            <th>Route</th>
            <th>Average Response Time (ms)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>/posts/index</td>
            <td class="highlight-red">800</td>
          </tr>
          <tr>
            <td>/users/profile</td>
            <td class="highlight-red">700</td>
          </tr>
          <tr>
            <td>/products/show</td>
            <td class="highlight-red">650</td>
          </tr>
          <tr>
            <td>/comments/create</td>
            <td class="highlight-red">550</td>
          </tr>
          <tr>
            <td>/dashboard</td>
            <td class="highlight-red">510</td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="grid-item">
    <%= render 'rails_pulse/components/panel', {
          title: 'Recent Slow Routes',
          help_heading: 'Slowest Routes',
          help_text: 'This panel measures performance metrics for the slowest paths in your application, including average response time in milliseconds, total request count, and number of errors. These metrics highlight specific URLs where performance or stability issues are most severe.'
        } do %>
      <table class="table mbs-4">
        <thead>
          <tr>
            <th>Route</th>
            <th>Average Response Time (ms)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>/posts/index</td>
            <td class="highlight-red">800</td>
          </tr>
          <tr>
            <td>/users/profile</td>
            <td class="highlight-red">700</td>
          </tr>
          <tr>
            <td>/products/show</td>
            <td class="highlight-red">650</td>
          </tr>
          <tr>
            <td>/comments/create</td>
            <td class="highlight-red">550</td>
          </tr>
          <tr>
            <td>/dashboard</td>
            <td class="highlight-red">510</td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
