<div class="grid-item" data-controller="rails-pulse--chart">
  <%= render 'rails_pulse/components/panel', { title: title, card_classes: 'card-compact' } do %>
    <div class="row mbs-2" style="height: 50px; margin-bottom: 0;">
      <div class="grid-item">
        <h4 class="text-xl mbs-1 font-bold"><%= summary %></h4>
      </div>
      <div class="grid-item">
        <%= line_chart line_chart_data, height: "100%", options: sparkline_chart_options %>
      </div>
    </div>
    <div class="mbs-2" style="height: 10px;">
      <%
        badge =
          case trend_icon
          when "trending-up" then "badge--negative-inverse"
          when "trending-down" then "badge--positive-inverse"
          else
            "badge--primary-inverse"
          end
      %>
      <span class="badge <%= badge %> p-0">
        <%= lucide_icon trend_icon, height: "15px", width: "15px", class: "mie-2" %>
        <%= trend_amount %>
        <p class="mis-2 text-subtle text-xs"><%= trend_text %></p>
      </span>
    </div>
  <% end %>
</div>
