<div class="mbs-2">
  <h4 class="text-xl mbs-1 font-bold"><%= summary %></h4>
</div>
<div class="chart-container chart-container--slim">
  <%= bar_chart line_chart_data, height: "100%", options: sparkline_chart_options %>
</div>
<div>
  <span class="badge badge--<%= trend_direction == "down" ? "positive" : "negative" %>-inverse p-0">
    <%= rails_pulse_icon "trending-#{trend_direction}", height: "15px" %>
    <%= trend_amount %>
    <p class="mis-2 text-subtle text-xs"><%= trend_text %></p>
  </span>
</div>
