<div class="flex items-center mbs-4">
  <div class="text-sm text-subtle show@md">Total of <%= @pagy.count %> record(s).</div>

  <div class="flex items-center mis-auto justify-end" style="column-gap: 1rem">
    <div class="flex items-center gap show@md"
         data-controller="rails-pulse--pagination"
         data-rails-pulse--pagination-url-value="<%= rails_pulse.pagination_limit_path %>">
      <label for="pagination_limit" class="text-sm font-medium">Rows per page</label>
      <%= select_tag :limit,
        options_for_select([[10, 10], [20, 20], [30, 30], [40, 40], [50, 50]], @pagy.vars[:items]),
        {
          id: "pagination_limit",
          class: "input",
          style: "--input-inline-size: 70px",
          data: {
            "rails-pulse--pagination-target": "limit",
            "rails-pulse--index-target": "paginationLimit",
            action: "change->rails-pulse--pagination#updateLimit"
          }
        }
      %>
    </div>

    <div class="text-sm font-medium"><%= "Page #{@pagy.page} of #{@pagy.pages}" %></div>

    <nav class="flex items-center gap shrink-0" style="--btn-padding: .5rem;" aria-label="Pagination">
      <%= link_to pagy_url_for(@pagy, 1), class: "btn", aria: { disabled: @pagy.prev.nil? }.compact_blank do %>
        <%= rails_pulse_icon 'chevrons-left', width: '16', height: '16' %>
        <span class="sr-only">Go to first page</span>
      <% end %>
      <%= link_to pagy_url_for(@pagy, @pagy.prev || @pagy.page), class: "btn", aria: { disabled: @pagy.prev.nil? }.compact_blank do %>
        <%= rails_pulse_icon 'chevron-left', width: '16', height: '16' %>
        <span class="sr-only">Go to previous page</span>
      <% end %>
      <%= link_to pagy_url_for(@pagy, @pagy.next || @pagy.page), class: "btn", aria: { disabled: @pagy.next.nil? }.compact_blank do %>
        <%= rails_pulse_icon 'chevron-right', width: '16', height: '16' %>
        <span class="sr-only">Go to next page</span>
      <% end %>
      <%= link_to pagy_url_for(@pagy, @pagy.last), class: "btn", aria: { disabled: @pagy.next.nil? }.compact_blank do %>
        <%= rails_pulse_icon 'chevrons-right', width: '16', height: '16' %>
        <span class="sr-only">Go to last page</span>
      <% end %>
    </nav>
  </div>
</div>
