<%= render 'rails_pulse/components/breadcrumbs' %>

<h1 class="text-2xl mbe-2"><%= @route.path_and_method %></h1>

<div class="row">
  <%= render_metric_card_frame "average_response_times", context: "route_#{@route.id}" %>
  <%= render_metric_card_frame "percentile_response_times", context: "route_#{@route.id}" %>
  <%= render_metric_card_frame "request_count_totals", context: "route_#{@route.id}" %>
  <%= render_metric_card_frame "error_rate_per_route", context: "route_#{@route.id}" %>
</div>

<!-- <div class="row">
  <div class="grid-item"> -->
    <%#= render 'rails_pulse/components/panel', {
        title: 'Response Time Distribution',
        help_heading: 'Response Time Distribution',
        help_text: 'This panel measures the total number of HTTP requests processed by your application each day. This represents the volume of traffic your app handles daily.'
      } do %>
      <!--
      <div class="chart-container chart-container--slim">
        <%#= bar_chart fake_time_distribution_series, height: "100%", options: line_chart_options %>
      </div>
      -->
    <%# end %>
  <!-- </div>
</div> -->

<div
  class="row"
  data-controller="rails-pulse--index"
  data-rails-pulse--index-chart-id-value="route_repsonses_chart"
  data-rails-pulse--index-occurred-at-param-value="occurred_at"
>
  <div class="grid-item">
    <%= render 'rails_pulse/components/panel', { title: 'Route Reqeusts', } do %>
      <%= search_form_for @ransack_query, url: route_path(@route), class: "flex items-center justify-between gap mb-4" do |form| %>
        <div class="flex items-center grow gap">
          <%= form.select :occurred_at_range,
            RailsPulse::RoutesController::TIME_RANGE_OPTIONS,
            { selected: @selected_time_range },
            { class: "input" }
          %>
          <%= form.select :duration,
            duration_options(:route),
            { selected: @selected_response_range },
            { class: "input" }
          %>
          <%= link_to "Reset", route_path(@route), class: "btn btn--borderless show@md" if params.has_key?(:q) %>
          <%= form.submit "Search", class: "btn show@sm" %>
        </div>
      <% end %>

      <% if @chart_data.present? %>
        <div
          class="chart-container chart-container--slim"
          data-rails-pulse--index-target="chart"
        >
          <%= line_chart(
            @chart_data,
            code: false,
            id: "route_repsonses_chart",
            height: "100%",
            options: line_chart_options(
              units: "ms",
              zoom: true,
              chart_start: 0,
              chart_end: @chart_data.length - 1,
              xaxis_formatter: @xaxis_formatter,
              tooltip_formatter: @tooltip_formatter
            )
          ) %>
        </div>
      <% end %>

      <%= turbo_frame_tag :index_table do %>
        <%= render 'rails_pulse/requests/table' %>
      <% end %>
    <% end %>
  </div>
</div>
