<% columns = [
  { field: :normalized_sql, label: 'Query', class: 'w-auto' },
  { field: :execution_count, label: 'Executions', class: 'w-24' },
  { field: :avg_duration, label: 'Avg Time', class: 'w-24' },
  { field: :total_time_consumed, label: 'Total Time', class: 'w-28' },
  { field: :performance_status, label: 'Status', class: 'w-16', sortable: false },
  { field: :occurred_at, label: 'Last Seen', class: 'w-32' }
] %>

<table class="table mbs-4">
  <%= render "rails_pulse/components/table_head", columns: columns %>

  <tbody>
    <% @table_data.each do |summary| %>
      <tr>
        <td class="whitespace-nowrap">
          <div>
            <%= link_to html_escape(truncate_sql(summary.normalized_sql)), query_path(summary.query_id), data: { turbo_frame: '_top', } %>
          </div>
        </td>
        <td class="whitespace-nowrap"><%= number_with_delimiter summary.execution_count %></td>
        <td class="whitespace-nowrap"><%= summary.avg_duration.to_i %> ms</td>
        <td class="whitespace-nowrap"><%= number_with_delimiter summary.total_time_consumed.to_i %> ms</td>
        <td class="whitespace-nowrap text-center"><%= query_status_indicator(summary.avg_duration) %></td>
        <td class="whitespace-nowrap"><%= human_readable_occurred_at(summary.occurred_at) if summary.occurred_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "rails_pulse/components/table_pagination" %>
