<%= render 'rails_pulse/components/breadcrumbs' %>

<h1>Operation <%= @operation.id %></h1>

<div class="card">
  <%= turbo_frame_tag "operation_#{@operation.id}_details" do %>
    <dl class="descriptive-list">
      <dt>
        <% if @operation.operation_type == "sql" %>
          Query
        <% elsif ["template", "partial", "layout", "collection"].include?(@operation.operation_type) %>
          View Render
        <% else %>
          <%= html_escape(@operation.label) %>
        <% end %>
      </dt>
      <dd>
        <% if @operation.operation_type == "sql" %>
          <%= render 'rails_pulse/components/code_panel', { value: @operation.label } %>
        <% else %>
          <%= html_escape(@operation.label) %>
        <% end %>
      </dd>

      <dt>Operation Type</dt>
      <dd><pre><%= @operation.operation_type %></pre></dd>

      <dt>Duration</dt>
      <dd>
        <%= @operation.duration.round(2) %> ms
      </dd>

      <dt>Request Impact</dt>
      <dd>
        <% impact = (@operation.duration / @request.duration * 100).round(1) %>
        <%= impact %>% of total request time
      </dd>

      <dt>Occurred At</dt>
      <dd><%= human_readable_occurred_at @operation.occurred_at %></dd>

      <% begin %>
        <%= render partial: "operation_analysis_#{categorize_operation(@operation.operation_type)}", locals: { operation: @operation } %>
      <% rescue ActionView::MissingTemplate %>
        <%= render partial: "operation_analysis_generic", locals: { operation: @operation } %>
      <% end %>

      <% if @performance_context.any? %>
        <dt>Performance Comparison</dt>
        <dd>
          Average: <%= @performance_context[:average].round(1) %>ms<br>
          95th Percentile: <%= @performance_context[:percentile_95].round(1) %>ms<br>
          Based on <%= @performance_context[:count] %> recent operations
        </dd>
      <% end %>

      <% if @related_operations.any? %>
        <dt>Related Operations</dt>
        <dd>
          <%= pluralize(@related_operations.count, 'similar operation') %> in this request
          <% if @related_operations.count > 2 %>
            <br>Potential N+1 query pattern detected
          <% end %>
        </dd>
      <% end %>

      <% if @optimization_suggestions.any? %>
        <dt>Optimization Tips</dt>
        <dd>
          <% @optimization_suggestions.each do |suggestion| %>
            <div>
              <%= suggestion[:title] %> - <%= suggestion[:description] %>
            </div>
          <% end %>
        </dd>
      <% end %>
    </dl>
  <% end %>
</div>
